<header class="navbar" [class.scrolled]="scrolled()">
  <div class="nb-inner">

    <!-- Logo -->
    <a  class="nb-logo">
      <span class="logo-icon">⚡</span>
      <span class="logo-text">UNI<span>SHOP</span></span>
    </a>

    <!-- Comparador como barra principal -->
    <div class="nb-search" (click)="goToCompare()" title="Buscar y comparar precios en Amazon">
      <span class="search-icon">🔍</span>
      <span class="search-placeholder">Buscar y comparar precios en Amazon...</span>
    </div>

    <!-- Right actions -->
    <nav class="nb-actions" *ngIf="auth.isLoggedIn()">



      <a routerLink="/history" class="nb-link">Mis Pedidos</a>
      <a *ngIf="auth.isAdmin()" routerLink="/admin" class="nb-link neon-magenta">Admin</a>

      <!-- Cart -->
      <button class="nb-cart-btn" (click)="cart.toggleCart()">
        🛒
        <span class="cart-badge" *ngIf="cart.count() > 0">{{ cart.count() }}</span>
      </button>

      <!-- User menu -->
      <div class="align-right">
          <button class="dd-item dd-logout" (click)="logout()">🚪 Cerrar Sesión</button>
      </div>
    </nav>

    <!-- Mobile hamburger -->
    <button class="nb-hamburger" (click)="toggleMobile()" *ngIf="auth.isLoggedIn()">
      <span [class.open]="mobileOpen()"></span>
      <span [class.open]="mobileOpen()"></span>
      <span [class.open]="mobileOpen()"></span>
    </button>
  </div>

  <!-- Mobile menu -->
  <div class="nb-mobile" *ngIf="mobileOpen() && auth.isLoggedIn()">
    <a routerLink="/home"    class="mob-link" (click)="mobileOpen.set(false)">Tienda</a>
    <a routerLink="/compare" class="mob-link" (click)="mobileOpen.set(false)">🔍 Comparar</a>
    <a routerLink="/history" class="mob-link" (click)="mobileOpen.set(false)">Mis Pedidos</a>
    <a *ngIf="auth.isAdmin()" routerLink="/admin" class="mob-link" (click)="mobileOpen.set(false)">Admin</a>
    <button class="mob-link mob-logout" (click)="logout(); mobileOpen.set(false)">🚪 Cerrar Sesión</button>
  </div>
</header>
<div class="nb-spacer"></div>
